<span id="questiontext">{{ question.text }}</span>
<a id="answeryes" class="answerlink
  {% if question.hasuseranswer %}
    {% if question.useranswer %}
      selected
    {% else %}
      notselected
    {% endif %}
  {% else %}
    unanswered
  {% endif %}" href="javascript:void(0);">Yes</a>
  
<a id="answeryes" class="answerlink
  {% if question.hasuseranswer %}
    {% if question.useranswer %}
      notselected
    {% else %}
      selected
    {% endif %}
  {% else %}
    unanswered
  {% endif %}" href="javascript:void(0);">No</a>
